.spinner {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top: 3px solid #84bfc8;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 1s linear infinite;
  margin-left: 3.5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
